*{
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Sans Devanagari', sans-serif;
    box-sizing: border-box;
    max-width: 100vw;
    z-index: 1;
}

html{
    scroll-behavior: smooth;
}

nav{
    padding: 3vh 0;
    width: 100vw;
    position: fixed;
    transition: background-color .3s ease 0s;
    color: #000;
    background-color: white;
    letter-spacing: 1px;
    z-index: 3;
}

#hi{
    font-size: 15vw;
    font-weight: 900;
    font-family: cursive;
}

li{
    display: inline;
    padding: 1vw;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.3vw;
}

#Home{
    display: flex;
    padding-left: 1vw;
    font-size: 4vw ;
    padding-top: 16vh;
    position: center right;
    padding-bottom: 16vh;
    min-height: 100vh;
    color: white;
    background-image: url("/Resources/BackgroundImage.webp");
    background-size: 100vh 100vw;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#Profile{
    width: 50vh;
    border: 2px solid black;
    border-radius: 25vh;
    max-width: 92vw;

}

.skillimg{
    width: 300px;
    margin: 2vw;
    border: 2px solid black;
    border-radius: 2vw;
    cursor: pointer;
    transition: transform 0.5s;
}
.skillimg:hover{
    transform: translateY(-10px);
}
.projectimg{
    width: 278px;
    margin: 0;
    border: 2px solid black;
    border-radius: 2vw;
    transition: transform 0.5s;
}
.projectimg:hover{
    transform: translateY(-10px);
}
#Aboutcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#About{
    padding-top: 15vh;
    background-size: 100vh 100vw;
    background-color: white;
    min-height:100vh;
    width: 100vw;
}
.AboutText{
    margin: 3vw;
    width: 50vw;
    font-size: 20px;
}
.bold{
    font-weight: 700;
}

#Projects{
    padding: 15vh 4px 4px 0;
    width: 100vw;
    background-color: white;
    min-height: 100vh;
    color: black;
}

.pro{
    padding: 5px;
    width: 296px;
    height: 513px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    border: 2px solid Black;
    border-radius: 8px;
}

#Skills{
    background-image: url("/Resources/BackgroundStatic.jpg");
    background-position: center top;
    background-size: cover;
    padding-top: 15vh;
    background-size: 100vh 100vw;
    color: white;
    min-height: 100vh;
    width: 100vw;
}

#Achievements{
    padding-top: 15vh;
    background-image: url("/Resources/Achievements.jpg");
    background-size: 10vh;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.Achieveimg{
    width: 328px;
    height: 480px;
    border: 2px solid black;
    border-radius: 2vw;
    margin: 37px 11px 11px 0;
    transition: transform 0.5s;
}
.Achieveimg:hover{
    transform: translateY(-10px);
}

footer{
    background-color: white;
    background-size: 100vh 100vw;   
}

#Contacts{
    padding: 10vh 0;
    background-image: url("/Resources/BackgroundImage.webp");
    min-height: 10vh;
    color: white;
}
.flexd{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.center{
    text-align: center;
}

.lfont{
    font-size: 46px;
    text-decoration: underline;
}