*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

nav{
    padding: 3vh 0;
    width: 100vw;
    height: 10vh;
    position: fixed;
    transition: background-color .3s ease 0s;
    color: #000;
    background-color: white;
    letter-spacing: 1px;
}
#im{
    padding-right: 55vw;
}
#hi{
    font-size: 13vw;
}

li{
    display: inline;
    padding: 1vw;
    color: black;
    text-decoration: none;
}

#Home{
    padding-top: 35vh;
    font-size: 20px;
    color: white;
    background-image: url("/Resources/BackgroundImage.webp");
    background-size: 100vh 100vw;
    width: 100vw;
    height: 100vh;
}

#Profile{
    width: 44vh;
    border: 2px solid black;
    border-radius: 22vh;
}
.skillimg{
    width: 18vw;
    margin: 1vh 4vw;
    border: 2px solid black;
    border-radius: 2vw;
}
.projectimg{
    width: 18vw;
    margin: 0;
    border: 2px solid black;
    border-radius: 2vw;
}

#About{
    padding-top: 10vh;
    background-size: 100vh 100vw;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#Projects{
    padding-top: 10vh;
    width: 100vw;
    background-color: white;
    color: black;
}

.pro{
    width: 20vw;
    display: inline-block;
    margin: 1vh 3vw 1vh 0;
    border: 2px solid Black;
    border-radius: 8px;
    /* border-radius: 1vw; */
}

#Skills{
    background-image: url("/Resources/BackgroundStatic.jpg");
    background-position: center top;
    background-size: cover;
    padding: 10vh;
    background-size: 100vh 100vw;
    color: white;
    width: 100vw;
}

#Achievements{
    padding-top: 10vh;
    background-image: url(/Resources/Achievements.jpg);
    background-size: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    background-color: white;
    background-size: 100vh 100vw;   
}

#Contacts{
    height: 10vh;
    background-color: #fff;
}